/*--------------------------------------
  MGILLIAM  CUSTOM CSS FOR KAR'TAYL DEMO
  08/2020
-----------------------------------------
*/
:root {
  --color-primary: #7E5BA4;
  --color-primary-darken: #201729;
  --color-secondary: #A6C9B7;
  --color-accent: #FDBB7C;
  --color-accent-darken: #D3975F;
  --color-accent-lighten: #fedfc3;
  --font-color: #000000;
}

/*--DEFAULT SLIDER MODS-----------------------------------------------------------------------*/

.slidecontainer {
  width: 70%; /* Width of the outside container */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*The slider itself---------------------------*/
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 70%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--color-primary); /* color for background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
/*---Range Input from https://www.cssportal.com/style-input-range/----------------------------------------------------------------------*/
input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: var(--color-secondary);
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: var(--color-primary);
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid var(--color-primary);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--color-primary-darken);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--color-primary);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: var(--color-primary);
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid var(--color-primary);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--color-primary-darken);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: var(--color-primary-darken);
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: var(--color-primary);
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid var(--color-primary);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--color-primary-darken);
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--color-primary);
}
input[type=range]:focus::-ms-fill-upper {
  background: var(--color-primary);
}
/*-------------------------------------------------------------------------*/
.colortheme {
  display: inline-block;
  border: 4px solid white;
  border-radius: 50%;
  padding: 2px;
  margin: 20px 20px;
}

.colortheme:hover {
  cursor: pointer;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-center {
  text-align: center;
}

.mainnav {
  display: inline-block;
  padding: 10px;
  margin: 20px 20px;
}

.mainnav:hover {
  cursor: pointer;
}
/* Toggling color themes -----------------------------------*/
.theme-Main {
  --color-primary: #7E5BA4;
  --color-primary-darken: #201729;
  --color-secondary: #A6C9B7;
  --color-accent: #FDBB7C;
  --color-accent-darken: #D3975F;
  --color-accent-lighten: #fedfc3;
  --font-color: #000000;
}
.theme-ColorBlind {
  --color-primary: #785EF0;
  --color-primary-darken: #1E183C;
  --color-secondary: #ffe4a8;
  --color-accent: #f0a3c8;
  --color-accent-darken: #e25097;
  --color-accent-lighten: #f9d8e7;
  --font-color: #000000;
}
.bg-light {
  background-color: var(--color-primary) !important;
}

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: var(--color-accent) !important;
}

.bg-dark {
  background-color: var(--color-primary-darken) !important;
}

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: var(--color-accent) !important;
}

.container {
  background-color: var(--color-secondary) !important;
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5%;
  padding-bottom: 2%;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: var(--color-secondary);
  border-radius: 0.3rem;
}


/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on August 3, 2020 */

@font-face {
    font-family: 'josefin_sansthin';
    src: url('../fonts/josefinsanswght-webfont.woff2') format('woff2'),
         url('../fonts/josefinsanswght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sansthin_italic';
    src: url('../fonts/josefinsans-italicwght-webfont.woff2') format('woff2'),
         url('../fonts/josefinsans-italicwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoitalic';
    src: url('../fonts/lato-italic-webfont.woff2') format('woff2'),
         url('../fonts/lato-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latobold_italic';
    src: url('../fonts/lato-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/lato-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
  font-family: 'josefin_sansthin', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: 'latoregular', sans-serif;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: var(--color-primary-darken);
  padding-top: 10%;
  padding-bottom: 10%;
}

}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

/* BUTTON COLORS -----------------------------*/
.bg-primary {
  background-color: var(--color-accent) !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: var(--color-accent-darken) !important;
}

.btn-primary {
  color: #000;
  background-color: var(--color-accent);
  border-color: var(--color-accent-darken);
}

.btn-primary:hover {
  color: #000;
  background-color: var(--color-accent-darken);
  border-color: var(--color-accent-darken);
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: var(--color-accent-darken);
  border-color: var(--color-accent-darken);
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: var(--color-accent-lighten);
  border-color: var(--color-accent);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--color-accent);
  border-color: var(--color-accent-darken);
}

/* ADD PADDING TO COL ------------------------------------------*/
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}
